---
import { type CollectionEntry } from 'astro:content'
import Buttons from './Buttons.astro'
import { Image } from 'astro:assets'
import Heading from './Heading.astro'
import Tags from './Tags.astro'

type Props = {
  project: CollectionEntry<'projects'>
}
const { project } = Astro.props
---

<article class="bg-secondary-700">
  <a href={`/projects/${project.slug}`}>
    <Image
      alt=""
      src={project.data.cover}
      width={1024}
      height={1024 / 1.5}
      format="webp"
      class="rounded-2xl shadow-xl mb-6 aspect-thumbnail object-cover"
    />
    <Tags tags={project.data.tags} />
    <Heading text={project.data.title} tagName="h2" size="h2" />
    <p>{project.data.publishDate.toUTCString().slice(0, -13)}</p>
    <p class="text-2xl mb-9 line-clamp-2">
      {project.body}
    </p>
  </a>
  <Buttons demoLink={project.data.demoLink} codeLink={project.data.codeLink} />
</article>
