---
import { type CollectionEntry } from 'astro:content'
import Buttons from './Buttons.astro'
import { Image } from 'astro:assets'
import Heading from './Heading.astro'
import Tags from './Tags.astro'
import Link from './Link.astro'

type Props = {
  project: CollectionEntry<'projects'>
}
const { project } = Astro.props
---

<article
  class="max-w-md
   bg-white border border-secondary-200 rounded-lg shadow dark:bg-secondary-800 dark:border-secondary-700"
>
  <Link href={`/projects/${project.slug}`}>
    <Image
      alt=""
      src={project.data.cover}
      width={1024}
      height={1024 / 1.5}
      format="webp"
      class="rounded-t-lg"
    />
  </Link>
  <Tags tags={project.data.tags} class="mt-6 mb-6" />
  <Link href={`/projects/${project.slug}`} class="px-6">
    <Heading text={project.data.title} tagName="h2" size="h2" class="mx-6" />
    <p class="mx-6">{project.data.publishDate.toUTCString().slice(0, -13)}</p>
    <p
      class="mb-3 font-normal text-secondary-700 dark:text-secondary-400 line-clamp-2 mx-6"
    >
      {project.body}
    </p>
  </Link>
  <Buttons
    demoLink={project.data.demoLink}
    codeLink={project.data.codeLink}
    class="mt-6 mb-6"
  />
</article>
